
div.domtab{
	list-style:none;
	width:810px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
ul.domtabs{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width:810px;
	margin-bottom:4px;
	background-color: #EDEDED;
}
ul.domtabs li{
	float:left;
}
ul.domtabs a:link,
ul.domtabs a:visited,
ul.domtabs a:active,
ul.domtabs a:hover{
	width:auto;
	padding:8px;
	display:block;
	color:#999;
	text-decoration:none;
	background-color: #EDEDED;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #EDEDED;
	border-right-color: #999999;
	border-bottom-color: #EDEDED;
	border-left-color: #EDEDED;
}
div.domtab div{
	clear:both;
	width:auto;
}
ul.domtabs li.active a:link,
ul.domtabs li.active a:visited,
ul.domtabs li.active a:active,
ul.domtabs li.active a:hover{
	background-color: #FFF;
	border: thin solid #666;
	color:#06C;
}

/* other scheme! */
#other{
	font-size:.8em;
	margin-left:.3em;
	width:60em;
	margin-bottom:3em;
	float:left;
}
div#other.domtab div{
	clear:both;
	width:54em;
	background:#669;
	color:#fff;
	padding:1em 3em;
}
		
#other ul.domtabs a:hover{
	background:#669;
}
div#other ul.domtabs li.active a:link,
div#other ul.domtabs li.active a:visited,
div#other ul.domtabs li.active a:active,
div#other ul.domtabs li.active a:hover{
	background:#669;
	color:#fff;
}
#other div{
	float:left;
}
ul.prevnext{
	float:left;
	width:100%;
}
ul.prevnext li{
	float:left;
	width:49%;
}
ul.prevnext li.next{
	float:right;
	text-align:right;
}
