imgLockedAspectbody {
	margin-top: 0px;
}

.formText {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	padding:5px;
}
.iconContainer {
	float:left
}

.textContainer {
	float:left;
	padding-top: 8px;
	padding-left: 8px;
}
.applicationName {
	color: #333;
	text-decoration:none;
}
.applicationName:hover {
	color: #333;
}
.applicationName:active {
	color: #333;
}
.links {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #333;
	text-decoration:none;
}
.links:hover {
	color: #333;
}
.links:active {
	color: #333;
}
.function {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #3CF;
	text-decoration:none;
	text-transform: uppercase;
	cursor:pointer;
}
.function:hover {
	color: #FFF;
}
.function:active {
	color: #333;
}

.container {
	width:100%
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}
.mainheading {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #09C;
}
.subheading {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
}
.content {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	text-decoration:none;
}
.contentGreyed {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #CCC;
	text-decoration:none;
}

.contentwarning {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #F30;
	text-decoration:none;
}
.contentHilighted {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bolder;
}
.contentLinkWhite {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #fff;
	text-decoration:none;
}
.contentLinkGrey {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #333;
	text-decoration:none;
}
.subcontentLinkWhite {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #aaa;
	text-decoration:none;
	text-transform: uppercase;
}
.subcontentLinkWhite:hover {
	color: #fff;
	text-decoration:none;
}


.contentLink {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #06C;
	text-decoration:none;
}
.contentLinkDisabled {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #999;
	text-decoration:none;
}
.contentLinkRed {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #090;
	text-decoration:none;
}
.contentLinkGreen {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #C00;
	text-decoration:none;
}

.contentLink:hover {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #06C;
}
.contentLink:active {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #06F;
}
.plainLinkGrey {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #999;
	text-decoration:none;
}
.plainLinkWhite {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
	text-decoration:none;
}
.plainLinkDkGrey {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #333;
	text-decoration:none;
}
.plainLinkGrey:hover {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #06F;
}
.header {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #09C;
	background-color: #EEE;
	height: 20px;
	text-transform: capitalize;
	width: 800px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.hoverTable tr{
	background: #fff;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
	  background-color: #ccc;
}
.sectionHeaderText {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #666;
}

.sectionHeader {
	height: 44px;
	width: 800px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #666;
	background-color: #CCC;
	margin-bottom: 10px;
}
.sectionHeaderText {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}
.functionButton {
	height: 44px;
	width: 44px;
}

.functionButton:hover {
	background-color: #EEE;
}

select {
	width: 200px;
	height:32px;
	color: #333;
	font-weight: normal;
	font-size: 10pt;
	padding: 5px;
	cursor: pointer;
	text-overflow: "";
	-webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
	-moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
	-ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
	appearance: none;
	border: thin solid #999;
}

select option {
	padding: 5px;
    background: #fff; /* style the dropdown bg color */
}

.formfieldcontent {
	height: 32px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	border: thin solid #999;
	padding-left: 6px;
}
.thumbnailOption {
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sectionLink {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #BBB;
	text-decoration:none;
}
.sectionLink:hover {
	color: #FFF;
}
.sectionLinkHighlighted {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #FFF;
	text-decoration:none;
}
.sectionActiveLink {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #999;
	text-decoration:none;
}
.sectionActiveLink:hover {
	color: #FFF;
	text-decoration:none;
}
.sectionActiveLink:active {
	color: #999;
	text-decoration:none;
}
.bannerHeading {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 34px;
	color: #333;
}
.contentContainer {
	width:150px; 
	height:120px; 
	padding-top:30px; 
	margin-top:10px;
	margin-left:10px;
	text-align:center; 
	float:left
}
.contentContainer:hover {
	background-color: #EEE;
}
.bundleid {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #333;
	text-decoration:none;
}
.optionButtons {
	width:44px;
	height:44px;
	float:right; 
	top:-70px; 
	position: relative; 
	margin-left:8px;
	background-color:#61636e;
}
.optionButtons:hover {
	background-color:#069;
}
.colorBox {
	width:22px;
	height:22px;
	border: thin solid #333;	
}
.rowhighlighter	{
	background-color:#FFF;
	width:810px;
	transition: all .2s;
}
.rowhighlighter:hover	{
	background-color:#EEE;
	transition: all .2s;
}
.imgLockedAspect {
   width: auto;
   max-height: 100%;
}
input[type=checkbox] {
	visibility: hidden;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left:0; top: -3px;
  width: 65px; height: 30px;
  background: #DDDDDD;
  border-radius: 15px;
  transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 20px; height: 20px;
  transition: all .2s;
  border-radius: 50%;
  background: #7F8C9A;
  top: 2px; left: 5px;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background:#34495E; 
}
[type="checkbox"]:checked + label:after {
  background: #39D2B4;
  top: 2px; left: 40px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label .ui:before {
  content: "no";
  left: 32px
}
[type="checkbox"]:checked + label .ui:after {
	content: "yes";
	color: #FFFFFF;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  box-sizing: border-box;
  margin-top: -1px;
}
.detailsShow	{
	display: block;
}
.detailsHide	{
	display: none;
}
.arShow	{
	display: block;
}
.arHide	{
	display: none;
}
.itemHide	{
	opacity: 0.0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
	transition: all .2s;
}
.itemShow	{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	transition: all .2s;
}
.checkmarkNormal	{
	background:url(images/checkmark-normal.png) no-repeat; 
	border:0; width:44px; 
	height:44px;
}
.checkmarkSelected	{
	background:url(images/checkmark-selected.png) no-repeat; 
	border:0; width:44px; 
	height:44px;
}

.addMarker	{
	background:url(images/addmarker.png) no-repeat; 
	border:0; width:44px; 
	height:44px;
}
.removeMarker	{
	background:url(images/removemarker.png) no-repeat; 
	border:0; width:44px; 
	height:44px;
}

input[type=button] {
    font-family: Tahoma, Geneva, sans-serif;
  	font-size: 14px;
    cursor:pointer;
	color: #333;
	height:44px;
}
.assetButton	{
	background-color:#61626d;	
	transition: background-color .2s;
}
.assetButton:hover	{
	background-color:#333;
	transition: background-color .2s;
}

.assetButtonCat1	{
	background-color:#0076a3;	
	transition: background-color .2s;
}
.assetButtonCat1:hover	{
	background-color:#004a80;
	transition: background-color .2s;
}



        .tabStyle { min-height: 250px; position: relative; width: 100%; }
        .tabStyle > div { display: inline; }
        .tabStyle > div > a {
	margin-left: -1px;
	position: relative;
	left: 1px;
	text-decoration: none;
	color: #666;
	background: white;
	display: block;
	float: left;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-bottom: 1px solid white;
}
        .tabStyle > div:not(:target) > a { border-bottom: 0; background: -moz-linear-gradient(top, white, #eee); }	
        .tabStyle > div:target > a { background: white; }	
        .tabStyle > div > div { background: white; z-index: -2; left: 0; top: 30px; bottom: 0; right: 0; padding: 20px; border: 1px solid #ccc; }	
        .tabStyle > div:not(:target) > div { position: absolute }
        .tabStyle > div:target > div { position: absolute; z-index: -1; }