
<cfset gps = {"long":0,"latt":0}>

<!--- <cfset gps = {"long":-79.49110273271799,"latt":43.864372344383675}> --->


<cfset gps = {"long":-79.41972881555557,"latt":43.636383032110174}> 

<cfinvoke  component="CFC.Access" method="insideGPSIPLocation" returnvariable="data">
    <cfinvokeargument name="gpsID" value="7080"/>
    <cfinvokeargument name="gpsLocation" value="#gps#"/>
</cfinvoke>
    
<cfdump var="#data#">
<cfabort>















<cfabort>

<cfinvoke  component="API.v10.LiveAPI" method="getAppPrefs" returnvariable="appInfo">
        <cfinvokeargument name="bundleID" value="com.liveadz.sample"/>
    </cfinvoke>
    
    <cfset JSON = deserializeJSON(appInfo)>
    
    <cfdump var="#appInfo#">
<cfabort>

    <cfinvoke  component="API.v#JSON.application.api#.LiveAPI" method="getAppPrefs" returnvariable="appInfo">
        <cfinvokeargument name="bundleID" value="com.liveadz.sample"/>
    </cfinvoke>
    
  <cfdump var="#appInfo#">
<cfabort>  
    


<!--- Get Bookmarks --->
<cfinvoke component="LiveAPI" method="getBookmarks" returnvariable="success">
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
   <!---  <cfinvokeargument name="groupID" value="1500"/>
    <cfinvokeargument name="assetID" value="2632"/> --->
</cfinvoke>

<cfdump var="#success#">
<cfabort>

<cfset bookmarks = '{"1500":[{"assetID":2631,"marker":5000}]}'>

<!--- Sync Bookmarks --->
<cfinvoke component="LiveAPI" method="syncBookmarks" returnvariable="success">
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="bookmarks" value="#bookmarks#"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>







<cfset bookmarks = [{'groupID':1500, 'assetID':2631, 'marker':5000, 'watched':4},{'groupID':1500, 'assetID':2632, 'marker':10000, 'watched':4},{'groupID':1574, 'assetID':2643, 'marker':30000, 'watched':4},{'groupID':1500, 'assetID':2639, 'marker':10000, 'watched':4}]>

<cfinvoke component="CFC.tracking" method="setBookmarks" returnvariable="success">
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="bookmarks" value="#bookmarks#"/>
</cfinvoke>
<cfdump var="#success#">
<cfabort>





<!--- Remove Group Assets --->
<cfinvoke component="LiveAPI" method="clearBookmarks" returnvariable="success">
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>




<!--- Get Group Assets --->
<cfinvoke component="LiveAPI" method="getContent" returnvariable="data">
    <cfinvokeargument name="groupID" value="1500"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
</cfinvoke>

<cfdump var="#data#">
<cfabort>

<!--- Get Group Assets --->
<cfinvoke component="LiveAPI" method="setBookmark" returnvariable="success">
    <cfinvokeargument name="groupID" value="1500"/>
    <cfinvokeargument name="assetID" value="2639"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="currentTime" value="200"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>

<!--- Remove Group Assets --->
<cfinvoke component="LiveAPI" method="removeBookmark" returnvariable="success">
    <cfinvokeargument name="groupID" value="1500"/>
    <cfinvokeargument name="assetID" value="2631"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>

<!--- http://localhost:8500/liveplatform_dev/API/v10/LiveAPI.cfc?method=trackQuizResponse&auth_token=2BC66C70-BA9B-F3FA-FECC680E3E73E618&groupID=1888&assetID=2561&date=1436446358&duration=120&selection=133,134,117,118&numberOfTries=3 --->
<!--- Get Group Assets --->
<cfinvoke component="CFC.Tracking" method="trackQuizResponse" returnvariable="success">
    <cfinvokeargument name="groupID" value="1888"/>
    <cfinvokeargument name="assetID" value="2561"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="date" value="1436446360"/>
    <cfinvokeargument name="duration" value="0"/>
    <cfinvokeargument name="selection" value="133,134,117,118"/>
    <cfinvokeargument name="numberOfTries" value="3"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>










<!--- Get Group Assets --->
<cfinvoke component="LiveAPI" method="getCachedContent" returnvariable="data">
    <cfinvokeargument name="bundleID" value="com.liveadz.sample"/>
</cfinvoke>
<cfdump var="#data#">
<cfabort>



http://localhost:8500/liveplatform_dev/API/v10/LiveAPI.cfc?method=resetQuizResponse&auth_token=2BC66C70-BA9B-F3FA-FECC680E3E73E618&groupID=1888&assetID=2561&dateFrom=0&dateTo=0
<!--- Get Group Assets --->
<cfinvoke component="CFC.Tracking" method="resetQuizResponse" returnvariable="success">
    <cfinvokeargument name="groupID" value="1888"/>
    <cfinvokeargument name="assetID" value="2561"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="dateFrom" value="1436446359"/>
    <cfinvokeargument name="dateTo" value="1436446360"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>



<!--- Get Group Assets --->
<cfinvoke component="CFC.Modules" method="getGroupContent" returnvariable="theGroupData">
    <cfinvokeargument name="groupID" value="0"/>
    <cfinvokeargument name="appID" value="21"/>
</cfinvoke>

<cfdump var="#theGroupData#">
<cfabort>







<!--- Get Group Assets --->
<cfinvoke component="CFC.Modules" method="getGroupContent" returnvariable="theGroupData">
    <cfinvokeargument name="groupID" value="0"/>
    <cfinvokeargument name="appID" value="54"/>
    <cfinvokeargument name="fullStructure" value="no"/>
</cfinvoke>

<cfdump var="#theGroupData#">
<cfabort>








<cfinvoke component="CFC.Content" method="getAssetContent" returnvariable="objectModel">
    <cfinvokeargument name="assetID" value="135"/>
</cfinvoke>

<cfdump var="#objectModel#">
<cfabort>

<cfinvoke component="CFC.Content" method="getGroupContent" returnvariable="objectModel">
    <cfinvokeargument name="groupID" value="1888"/>
    <cfinvokeargument name="appID" value="21"/>
</cfinvoke>

<cfdump var="#objectModel#">


<cfinvoke component="CFC.Content" method="getAssetsActions" returnvariable="objectModel">
    <cfinvokeargument name="assetID" value="135"/>
</cfinvoke>

<cfdump var="#objectModel#">

<cfabort>


<cfset quizTF = [{"message":"Yes","correct":true , "choice_id":0},{"message":"No","correct":false, "choice_id":1}]>
<cfset quizMulti = [{"message":"Selection 1 Question","correct":true, "choice_id":0},{"message":"Selection 1 Question","correct":false, "choice_id":1},{"message":"Selection 3 Question","correct":false, "choice_id":3},{"message":"Selection 4 Question","correct":false, "choice_id":4}]>

<cfinvoke component="CFC.ObjectModels" method="quizModel" returnvariable="objectModel">
    <cfinvokeargument name="choices" value="#quizMulti#"/>
</cfinvoke>

<cfset JSON = serializeJSON(objectModel)>

<cfdump var="#JSON#">

<cfabort>


<cfimage action="read" source="http://liveplatform.net/castlegroup/vida/assets/images/Floor2KP_Markers.jpg" name="objImage" />

<cfinvoke  component="CFC.objImageUtils" method="GetPixels" returnvariable="theImage">
	<cfinvokeargument name="Image" value="#objImage#"/>
</cfinvoke>

<cfset allColors = {"oneBedroom":"AA1F0A", "twoBedroom":"336F28", "oneBedroomden":"F15740", "twoBedroomden":"6F3128"}>
<cfset found = StructFindValue(allColors,"336F28")>
<cfdump var="#found#">
<cfabort>
<cfset theImagePoints = {}>

<cfloop index="intY" from="1" to="#ArrayLen( theImage )#" step="1">

	<!--- Loop over x axis. --->
    <cfloop index="intX" from="1" to="#ArrayLen( theImage[ intY ] )#" step="1">
    
        <!--- Get the pixel short-hand from the array. --->
        <cfset objPixel = theImage[ intY ][ intX ] />
        
        <!--- <cfloop collection="#allColors#" item="key"> --->
        
        <cfset found = StructFindValue(allColors,objPixel.hex)>
        
            <!--- <cfset aColor = allColors[key]> --->

            <cfif arrayLen(found) GT 0>
       <cfdump var="#found#"><cfdump var="#found.hex#"> <cfabort>   	
                <cfset theKey = allColors[found]>
            
                <cfif structFind(theImagePoints,theKey) GT 0>
                    <cfset arrayAppend(theImagePoints[theKey],{'x':intX, 'y':intY})>
                <cfelse>
                    <cfset structAppend(theImagePoints,{'#theKey#':[]})>
                    <cfset arrayAppend(theImagePoints[theKey],{'x':intX, 'y':intY})>
                </cfif>
            
            </cfif>
        
        <!--- </cfloop> --->
    
    </cfloop>

</cfloop>

<cfdump var="#theImagePoints#">
    
<cfabort>


<!--- on imageProcess img,colorMarkers

  theImagePoints = [:]
  
  repeat with x = 1 to img.width
    
    repeat with y = 1 to img.width
      
      thePixel = img.getPixel(x, y)
      if thePixel = 0 then next repeat
      theColor = RGBToHexColor(thePixel)
      
      repeat with i = 1 to colorMarkers.count
        
        theGroupName = colorMarkers.getPropAt(i)
        theColorToFind = colorMarkers[i]
        
        if theColor = theColorToFind then
          
          found = theImagePoints.findPos(theGroupName)
          
          if found > 0 then
            theImagePoints[found].append(point(x,y))
          else
            theImagePoints.addProp(theGroupName, [point(x,y)])
          end if
          
        end if
        
      end repeat
      
    end repeat
    
  end repeat
  
  return theImagePoints
  
end
 --->



<cfabort>
<cfset objImageUtils = CreateObject( "component", "CFC.objImageUtils" ).Init() />
    
    <cfimage action="read" source="http://liveplatform.net/pennwell/pennwell/assets/images/thumbs/body-equipment.jpg" name="objImage" />
    
    <!--- Read in 50 x 50 pixels. --->
    <cfset arrPixels = objImageUtils.GetPixels(objImage,200,185,50,50) />
    
   <cfinvoke  component="CFC.objImageUtils" method="GetPixels" returnvariable="objImageUtils"/>
    
    <cfloop index="intY" from="1" to="#ArrayLen( arrPixels )#" step="1">
 
        <div class="row">

            <!--- Loop over x axis. --->
            <cfloop index="intX" from="1" to="#ArrayLen( arrPixels[ intY ] )#" step="1">

                <!--- Get the pixel short-hand from the array. --->
                <cfset objPixel = arrPixels[ intY ][ intX ] />

                <div class="pixel" style="background-color: ###objPixel.Hex#;"></div>

            </cfloop>

        </div>

    </cfloop>

<cfabort>


<!--- <cfset info = {'name':'Mike','email':'mike@hotmail.com','country':'canada'}>

<cfinvoke  component="LiveAPI" method="gameStart" returnvariable="data">
  <cfinvokeargument name="auth_token" value="860C9118-A287-7E7F-9514BB7092E9800A"/>
  <cfinvokeargument name="gameID" value="2126"/>
  <cfinvokeargument name="assetID" value="2137"/>
  <cfinvokeargument name="userInfo" value="#info#"/>
</cfinvoke>

<cfdump var="#data#"> --->

<!--- <link href="styles.css" rel="stylesheet" type="text/css" />

<style>
    #container { display:block; margin:0; padding:0; width:800px; height:44px;}
	#left-element { float:left; display:block; width:50px; height:44px;}
	#middle-element { float:left; display:block; margin-left:10px; padding-top:10px; width:280px; height:34px;}
	#right-element { float:left; display:block; margin-left:10px; padding-top:10px;; width:170px; height:34px;}
	#done-element { float:left; display:block; margin-left:10px; padding-top:10px;; width:90px; height:34px;}
</style>

<cfinvoke  component="CFC.Games" method="getAllGames" returnvariable="games">
    <cfinvokeargument name="bundleID" value="com.liveadz.pennwellar"/>
</cfinvoke>

<cfoutput query="games">
  
    <cfinvoke  component="CFC.Misc" method="convertEpochToDate" returnvariable="startDate">
        <cfinvokeargument name="TheEpoch" value="#games.dateStart#"/>
    </cfinvoke>
    
    <cfinvoke  component="CFC.Misc" method="convertEpochToDate" returnvariable="endDate">
        <cfinvokeargument name="TheEpoch" value="#games.dateEnd#"/>
    </cfinvoke>
    
    <div id="container" style="padding-top:10px;">
    <span class="bannerHeading">#name#</span><br />
    </div>
    <div id="container" style="padding-top:10px;">
    <span class="contentLinkGrey">Starts:#dateFormat(startDate,'DDDD, MMMM DD, YYYY')# Ends:#dateFormat(endDate,'DDDD, MMMM DD, YYYY')#</span>
    </div>
    
    <cfset gameID = asset_id>

   <cfinvoke  component="CFC.Games" method="getGameUsers" returnvariable="gameUsers">
     <cfinvokeargument name="gameID" value="#asset_id#"/>
   </cfinvoke>

  <cfloop query="gameUsers">
    
    <cfinvoke  component="CFC.Games" method="getGameUserAssetCount" returnvariable="userGame">
      <cfinvokeargument name="gameID" value="#gameID#"/>
      <cfinvokeargument name="userID" value="#user_id#"/>
    </cfinvoke>
    
    
    
        <cfinvoke  component="CFC.Games" method="getGameUserAssets" returnvariable="gameInfo">
            <cfinvokeargument name="gameID" value="#gameID#"/>
            <cfinvokeargument name="userID" value="#user_id#"/>
        </cfinvoke>
		
        <div id="container">
            <div class="contentLinkGrey" id="middle-element">#name#</div>
          <div class="contentLink" id="middle-element">#email#</div> 
            <cfif gameInfo.done><span class="contentLinkRed">(Completed)</span><cfelse></cfif>
        </div>
        
    <cfloop index="collectedObject" array="#gameInfo.assets#">

			<!--- Date --->
            <cfinvoke  component="CFC.Misc" method="convertEpochToDate" returnvariable="objDate">
                <cfinvokeargument name="TheEpoch" value="#collectedObject.date#"/>
            </cfinvoke>
        
        	<cfset imageURL = collectedObject.url>
        	<cfset objName = collectedObject.title>
          
          	<cfset theDate = TimeFormat(objDate, "hh:mm:sstt")>
            
          <div id="container">
            <div id="left-element"><img src='#imageURL#' width="44" height="44" border="1" /></div>
            <div class="contentLink" id="middle-element">#objName#</div>
                <div class="contentLinkGrey" id="right-element">#dateFormat(objDate,'DDD, DD')# at #theDate#</div>
          </div>
        	
            
        </cfloop>
        
        
        
  </cfloop>

</cfoutput> --->



<cfinvoke  component="CFC.Games" method="getUserGameStart" returnvariable="data">
  <cfinvokeargument name="auth_token" value="860C9118-A287-7E7F-9514BB7092E9800A"/>
  <cfinvokeargument name="gameID" value="2126"/>
</cfinvoke>

<cfdump var="#data#">

<cfabort>


<!--- <cfinvoke  component="LiveAPI" method="authenticateUser" returnvariable="token">
    <cfinvokeargument name="bundleID" value="com.liveadz.pennwellar"/>
    <cfinvokeargument name="email" value="mboni@klokwerks.com"/>
    <cfinvokeargument name="code" value="2578425627"/>
</cfinvoke>

<cfdump var="#token#"><cfabort>
CD6DAC57-03CC-768E-66D11E5E8812F58B --->

<!--- <cfinvoke  component="CFC.ObjectModels" method="getObjectModel" returnvariable="data">
    <cfinvokeargument name="typeID" value="19"/>
</cfinvoke>

<cfdump var="#data#">
<cfabort>
 --->
 
 
<cfinvoke  component="CFC.Games" method="getGameUserAssetsCount" returnvariable="data">
  <cfinvokeargument name="auth_token" value="2126"/>
</cfinvoke>

<cfdump var="#data#">
<br />

<cfinvoke  component="CFC.Games" method="getGameAssetsCount" returnvariable="data">
    <cfinvokeargument name="gameID" value="2126"/>
</cfinvoke>

<cfdump var="#data#">

<cfabort>

<cfinvoke  component="LiveAPI" method="getCachedContent" returnvariable="data">
    <cfinvokeargument name="bundleID" value="com.liveadz.cuicar"/>
</cfinvoke>
<cfdump var="#data#">

<!--- <cfloop index="assetID" array="#data#">

    <cfinvoke  component="CFC.Modules" method="getContentAsset" returnvariable="assetData">
        <cfinvokeargument name="assetID" value="#assetID#"/>
    </cfinvoke>

	<cfdump var="#assetData#">

</cfloop> --->


<cfabort>


<!--- <cfinvoke component="CFC.Modules" method="getGroupAssets" returnvariable="theAsset">
    <cfinvokeargument name="assetID" value="2125"/>
</cfinvoke>
                
<cfdump var="#theAsset#">          


<cfabort> --->





<cfinvoke component="CFC.Games" method="getGameAssets" returnvariable="theGameAssets">
    <cfinvokeargument name="gameID" value="2126"/>
</cfinvoke>
                
<cfdump var="#theGameAssets#">     

<cfabort>

<cfinvoke component="CFC.Games" method="getGameOptions" returnvariable="theGame">
    <cfinvokeargument name="gameID" value="2126"/>
</cfinvoke>
                
<cfdump var="#theGame#">          


<cfabort>



<cfinvoke component="CFC.Modules" method="getGroupAssets" returnvariable="theAsset">
    <cfinvokeargument name="assetID" value="2087"/>
</cfinvoke>
                
<cfdump var="#theAsset#">          


<cfabort>



<cfset assetIDs = [135]>

<cfinvoke  component="CFC.Assets" method="setGroupAssets" returnvariable="data">
    <cfinvokeargument name="groupID" value="1"/>
    <cfinvokeargument name="assetIDs" value="#assetIDs#"/>
</cfinvoke>

<cfabort>



<link href="styles.css" rel="stylesheet" type="text/css" />

<cfinvoke component="CFC.Assets" method="getAssetsTypes" returnvariable="assetTypes" />

<!--- LiveAPI  --->
<cfajaxproxy cfc="CFC.CMS" jsclassname="assetManager">

<script type="text/javascript">

var importAssets = [];

var jsAssets = new assetManager();

function displayAssets(theType)
{
	jsAssets.setSyncMode();
	jsAssets.setCallbackHandler(successAssetListing);
	jsAssets.getAllAssets(4,theType,importAssets);
}

function successAssetListing(result)
{
	theAssets = document.getElementById('displayAssets');
	theAssets.innerHTML = result;
}
</script>

<script type="text/javascript">
			
function setCheckmarkState(theObj)	{

	if(theObj.className == "checkmarkNormal")
	{
		theObj.className = "checkmarkSelected";
		setContentID(theObj.id,1);
	}else{
		theObj.className = "checkmarkNormal";
		setContentID(theObj.id,0);
	}

}

function setContentID(theObj,state)
{
	theIds = document.getElementById('contentIDs');
	foundObj = importAssets.indexOf(theObj);
	
	if(state == 1)
	{
		//add
		if(foundObj == -1)
		{
			importAssets.push(theObj);
		}
		
	}else{
		//remove
		importAssets.splice(foundObj, 1);
	}
	
	theAssetCnt = document.getElementById('totalAssets');
	theAssetCnt.innerHTML = "Total Assets to Import: "+ importAssets.length;
}

function allSelctedContent()
{
	console.log(importAssets);
	
	displayImporter();
}

function displayImporter(state)
{
	theObj = document.getElementById('assetImporter');
	
	if(theObj.style.display == "none")
	{
		theObj.style.display = "inline";
		
	}else{
		theObj.style.display = "none";
	}
	
	resetAssetImport();
}

function resetAssetImport()
{
	importAssets = [];
	selected = document.getElementById('assetTypes');
	selected.selectedIndex = 0;
	displayAssets(0);
}

</script>


<a onclick="displayImporter()">
<img src="images/import.png" width="44" height="44" />
</a>

<div style="width:800px; display:none" id="assetImporter">

	<cfoutput>
    <form method="get" style="height:40px">
      <select name="assetTypes" id="assetTypes" onchange="displayAssets(this.options[this.selectedIndex].value)" style="height:44px; margin:0px;">
        <option value="0">All Asset Types</option>
        <cfloop query="assetTypes">
            <option value="#type#">#name#</option>
        </cfloop>
      </select>
      <input type="button" class="formText" value="Import Content" onclick="allSelctedContent()" />
      <input name="contentIDs" type="hidden" id="contentIDs" />
      <div class="contentLinkGrey" id="totalAssets" style="width:180px; float:right; padding-top:15px"></div>
    </form>
    </cfoutput>
    
    <div id="displayAssets" style="overflow:scroll; height:400px; overflow-x: hidden;"></div>

</div>


<cfabort>

<!--- <cfinvoke  component="CFC.Modules" method="getGroupDetails" returnvariable="data">
    <cfinvokeargument name="groupID" value="963"/>
</cfinvoke>

<cfinvoke component="CFC.Misc" method="QueryToStruct" returnvariable="theData">
  <cfinvokeargument name="query" value="#data#"/>
  <cfinvokeargument name="forceArray" value="true"/>
</cfinvoke>

<cfif arrayLen(theData) GT 0>
    
    <cfset theAsset = theData[1]>
    
    <cfif theAsset.assetType_id IS ''>
    	<cfset StructDelete(theAsset,'assetType_id')>
    </cfif>
    
    <cfinvoke  component="CFC.Modules" method="getDetailsData" returnvariable="detailsData">
        <cfinvokeargument name="data" value="#theAsset#"/>
    </cfinvoke>
    
    <cfinvoke  component="CFC.Modules" method="getThumbData" returnvariable="thumbsData">
        <cfinvokeargument name="data" value="#theAsset#"/>
        <cfinvokeargument name="appID" value="#appID#"/>
        <cfinvokeargument name="server" value="yes"/>
    </cfinvoke>
    
    <cfdump var="#detailsData#">
    <cfdump var="#thumbsData#">
    
</cfif> --->

<!--- 
<cfinvoke  component="CFC.Modules" method="getGroups" returnvariable="data">
    <cfinvokeargument name="groupID" value="963"/>
    <cfinvokeargument name="appID" value="21"/>
</cfinvoke>

<cfdump var="#data#">

<cfabort>
 --->

<!--- <cfinvoke  component="CFC.Modules" method="getCachedContent" returnvariable="data">
    <cfinvokeargument name="appID" value="21"/>
</cfinvoke>

<cfdump var="#data#"> --->


<cfinvoke  component="LiveAPI" method="getCachedContent" returnvariable="data">
    <cfinvokeargument name="bundleID" value="com.liveadz.sample"/>
</cfinvoke>

<cfdump var="#data#">